body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  margin: 0px 10px;
  border: 1px solid rgba(65, 65, 65, 0.274);
  border-radius: 15px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 51px;
}

.logo-title {
  color: #f97c2a;
}

.nav-list > ul {
  display: flex;
  list-style-type: none;
}

.nav-list > ul > li {
  margin: 10px;
  padding: 10px;
  font-size: 20px;
}

.nav-list > ul > li > a {
  color: black;
  text-decoration: none;
}

.cart-icon {
  width: 25px;
}

.body {
  border: 1px solid rgba(65, 65, 65, 0.274);
  border-radius: 1.5rem;
  margin: 10px;
  padding: 10px;
}

.search {
  margin: 10px;
}

.search .search-input {
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 15px;
  width: 200px;
  border: 1px solid rgb(212, 212, 212);
}

.search .search-button {
  padding: 15px;
  border: 1px solid white;
  border-radius: 15px;
  background: #ff7b00;
  width: 100px;
  color: #e7e7e7;
  cursor: pointer;
}
.search .search-button:hover {
  background: #dd5800;
}

.filter-btn {
  padding: 10px;
  margin: 0 10px;
  background: white;
  border: 1px solid #cbcbcba8;
  border-radius: 15px;
  cursor: pointer;
}
.filter-btn-clicked {
  padding: 10px;
  margin: 0 10px;
  background: #d4d4d4;
  border: 1px solid #cbcbcba8;
  border-radius: 15px;
  cursor: pointer;
}
.filter-btn:hover {
  background: #e7e7e7;
}

.restaurant-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.restaurant-container > a {
  text-decoration: none;
  color: inherit;
}

.restaurant-card {
  border: 1px solid #e7e7e7;
  border-radius: 1.5rem;
  margin: 1rem 0.5rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.restaurant-card:hover {
  border-color: #ffa570;
  box-shadow: 2px 2px 2px 2px #ff824886;
  cursor: pointer;
}

.restaurant-card .image {
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
  object-fit: cover;
}

.restaurant-card .name {
  font-size: 18px;
  margin: 15px 10px;
  font-weight: bold;
}

.restaurant-container-shimmer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.restaurant-card-shimmer {
  border: 1px solid #e7e7e7;
  background-color: #ffedd4;
  border-radius: 1.5rem;
  margin: 1rem 0.5rem;
  width: 20rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.user-card-container {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: max-content;
}

.user-card {
  padding: 1rem;
  margin: 0.5rem 0;
  border: 1px solid black;
  border-radius: 1rem;
}
